/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* TYPO STYLES */
* {
    color: #a8a8a8;
    font-size: 15px;
}

h1, h5 {
    color: black;
}

h1 {
    font-weight: 700;
    font-size: 2.1em;
}

h3 {
    font-weight: 400;
    font-size: 1.9em;
}

h5 {
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 5px;
}

/* UTILITY */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.pl-10px {
    padding: 0 10px;
}

.mb-30px {
    margin-bottom: 30px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.br-15px {
    border-radius: 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */
header {
    margin-top: 30px;
}

header > img {
    width: 150px;
}

.main_nav > ul > li {
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 5px;
}

.main_nav > ul > li:last-child {
    margin-right: 0px;
}

.main_nav > ul > li > a {
    text-decoration: none;
    font-weight: 500;
}

.main_nav > ul > li > a:hover {
    color: black;
}

/* HERO */
section.hero {
    position: relative;
    height: 500px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
}

section.hero > div{
    position: absolute;
    padding: 70px 40px;
    left: 0;
    bottom: 0;
}

section.hero > div:nth-child(2) {
    width: 50%;
}

section.hero p, h3 {
    color: white;
}
/* MAIN */
main {
    padding-bottom: 30px;
}

.section_header > h1 {
    padding-top: 20px;
}

.cols_grid > aside {
    width: 20%;
}

.main_article {
    width: 60%;
}

.col_img {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.cols_grid > aside:first-of-type > .col_img {
    background-image: url("../img/img-1.jpg");
}

.cols_grid > aside:nth-of-type(2) > .col_img {
    background-image: url("../img/img-3.jpg");
}

.cols_grid > .main_article > .col_img {
    background-image: url("../img/banner-2.jpg");
}

.cols_grid h5 {
    margin: 20px 0 5px;
}

.cols_grid > aside, .main_article {
    float: left;
}

/* FOOTER */
footer {
    text-align: center;
    line-height: 100%;
    color: black;
    font-size: 1.05em;
    margin-top: 10px;
}

footer span {
    color: red;
    font-size: 1.5em;
    vertical-align: baseline;
}
